@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .hide-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    /* Personalizar scrollbar */
    ::-webkit-scrollbar {
        width: 0px;  /* Ancho del scrollbar */
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: transparent;
    }
}